.sidebarOptions{
display:flex;
align-items: center;
font-size: 12px;
padding-left: 2px;
cursor: pointer;
}
.sidebarOptions:hover{
    opacity: 0.9;
    background-color: #340e36;
}
.sidebarOption__icon{
    padding: 10px;
    font-size: 15px !important;
}
.sidebarOptions_channel{
    padding: 10 0px;
}
.sidebarOptions__hash{
    padding: 10px
}